@model UpdateCustomerViewModel
<!-- Main Start -->
<main id="main"
      style="background: url(~/assets/images/limak_bg.jpg) no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container" style="max-width: 114rem;">
        <section id="user-panel">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title" style="font-size: 17px;text-transform: uppercase;">
                        İstifadəçi Paneli
                    </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>Tənzimləmələr</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- Aside -->
                <div class="col-md-4 col-lg-3 col-12">
                    @await Component.InvokeAsync("UserAside")
                </div>
                <!-- Content -->
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div>
                        <div class="content">
                            <div class="row">
                                <div>
                                    <ul id="headerList" class="nav nav nav-tabs card-tabs-nav">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active" data-target="1">
                                                <span class="card-tabs-nav-title">
                                                    Hesab məlumatları
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item card-tabs">
                                            <a href="#" class="nav-link" data-target="2">
                                                <span class="card-tabs-nav-title">Şifrə</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content card-tabs-body">
                                <div class="tab-pane active active-tab" data-id="1">
                                    <div class="card order-item order-item-settings">
                                        <div class="card-body">
                                            <div class="card-step">
                                                @await Html.PartialAsync("_UpdateCustomerPartial", Model)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active-tab" data-id="2">
                                    <div class="card order-item order-item-safety">
                                        <div class="card-body custom-padding">
                                            @await Html.PartialAsync("_ChangePasswordPartial",
                                            (ChangePasswordViewModel)ViewBag.PasswordModel)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Main End -->
